<!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
        	  	
            <li class="mt">
                <a class="active" href="./dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="./products" >
                    <i class="fa fa-shopping-cart"></i>
                    <span>Productos</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="./users" >
                    <i class="fa fa-user"></i>
                    <span>Usuarios</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="./brands" >
                    <i class="fa fa-building"></i>
                    <span>Empresas</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="./category" >
                    <i class="fa fa-filter"></i>
                    <span>Categorias</span>
                </a>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->