<!-- **********************************************************************************************************************************************************
MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
        	  	
            <li class="mt">
                <a class="active" href="./dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="./capitans" >
                    <i class="fa fa-user"></i>
                    <span>Capitanes y Equipos</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="./students" >
                    <i class="fa fa-users"></i>
                    <span>Estudiantes</span>
                </a>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->