<!-- **********************************************************************************************************************************************************
TOP BAR CONTENT & NOTIFICATIONS
*********************************************************************************************************************************************************** -->
<!--header start-->
<header class="header black-bg">
  <!--logo start-->
  <a href="/" class="logo"><b>Hi! Tec</b></a>
  <!--logo end-->
  <div class="top-menu">
  	<ul class="nav pull-right top-menu">
          <li><a class="logout" href="/">Asistencia</a></li>
          <li><a class="logout" href="/birthday">Cumpleañeros</a></li>
          <li><a href="#" data-toggle="modal" data-target="#login_modal" class="logout">Iniciar Sesión</a></li>
  	</ul>
  </div>
</header>
<!--header end-->
<% include ../general/login_modal %>