<div class="navbar transparent navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand logo">
	    	<img class="logo" src="/assets/images/MesaRegalos_I_LC_Bco.png" class="image-responsive" height="100%">
	    </div>
    </div>
    
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">HOME</a></li>
        <li><a href="#">COMO FUNCIONA</a></li>
        <li><a href="#">CREA TU MESA</a></li>
        <li><a href="#">REGALA</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="/">MI BODA</a></li>
        <li><a href="/user/logout">CERRAR SESIÓN</a></li>
      </ul>
    </div>
  </div>
</div>