 .img-small {
	width: 30%;
	height: 30%;
}

.img-small-wide{
	width: 5%;
}

.img-pasos{
	width: 70%;
	height: 70%;
}

.logo{
	max-width: 100%;
}

.boton-rosa{
	background-color: #e7417a;
}

.diagonal-cut{
	 -webkit-clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);
}

.cover-container{
	background: url(/assets/images/MesaRegalos_imgF_1.png);
	background-size: cover;
	width: 100%
    background-repeat: no-repeat;
    margin-bottom: 50px;
}	

.filtro{
	background-color: rgba(222,135,151,.79);
}

.img-mesa{
	height: 150px;
}

.menu-opciones {
	text-decoration: none;
	font-size: 12px;
}

.menu-opciones:hover{
	text-decoration: none;
	color:#fff2e7;
}

.top-20{
	margin-top: 20px;
}

.top-50{
	margin: 30px 0px;
}

.top-200{
	margin:100px 0px;
}

.texto-claro{
	color:#fff2e7;
}

.texto-oscuro{
	color:#e7417a;
}

.texto-arena{
	color:#c9a791;
}

.space{
	margin-top:100px;
}

.button-intro{
	background-color:#e7417a;
	color:#fff2e7;
	padding:10px 30px;
	border:none;
	margin: 0px 10px;
}

.flecha{
	height: 5%;
	width: 5%;
	margin-top: -120px;
}

.paragraph-content{
	color:#464c4f;
}

.fondo-crema{
	background-color: #fff2e7;
}

.fondo-rosa{
	background-color:#ec80a8;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 5px;
	border-color:#b63e47 ;
}

.center-form {
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
}



h1,h2,h3,h4,p{
	font-family: 'Montserrat', sans-serif;
}

.img-busqueda{
	width: 30%;
	margin: 5px;
}

.search-bar{
	background-color: #fff2e7;
	border-radius: 10px;
}

.busqueda{
	width: 100%;
	margin-left: -30px;
	border:none;
	background-color:#fff2e7; 
}

.contact-form{
	padding:50px 100px;
	border-radius: 10px;
	background-color: rgb(236,128,168); 
}

.contacto-input{
	border-radius:10px;
	border:0px;
	margin-top: 10px;
	width: 100%;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border: 0;
  }

.navbar-default {
  background-color: #fff;
}

.navbar-default .navbar-nav > li {
  background-color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  /*border-bottom: 1px solid transparent;*/
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  font-size: 11px;
  background-color: transparent;
  color: #e7417a;
  border-bottom: 2px solid #e7417a;
  font-family: 'Montserrat', sans-serif;
}

.modal-header,
.modal-body,
.modal-footer{
	background-color: #ec80a8;
	border-bottom: 1px solid #ec80a8;
	border-top: 1px solid #ec80a8;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.modal-backdrop {
   background-color: #5d5d5d;
}

.btn {
    border: 0 none;
    font-family: 'Montserrat', sans-serif;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #e7417a;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #8e2f54;
}
 
.btn-primary:active, .btn-primary.active {
    background: #8e2f54;
    box-shadow: none;
}

.btn-lg.round {
	border-radius: 24px;
}